@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.grit {
  -webkit-mask-image: url("../public/grit.png");
  mask-image: url("../public/grit.png");
}

@font-face {
  font-family: "Ezcar";
  src: url("../public/Prata/Prata-Regular.ttf");
}

@font-face {
  font-family: "Abril";
  src: url("../public/Oxygen/Oxygen-Light.ttf");
}

@font-face {
  font-family: "Krona";
  src: url("../public/Krona_One/KronaOne-Regular.ttf");
}

@font-face {
  font-family: "PlayI";
  src: url("../public/PT_Serif/PTSerif-Italic.ttf");
}

@font-face {
  font-family: inter;
  src: url("../public/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Unbounded;
  src: url("../public/Unbounded/Unbounded-VariableFont_wght.ttf");
}

@-moz-document url-prefix() {
  .scrollbar {
    overflow: auto;
    width: 0.5em !important;
    scroll-behavior: smooth !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: darkgrey !important;
    outline: 1px solid slategrey !important;
    border-radius: 10px !important;
  }
}

#translate {
  transform: translateX(100%);
}

.projectGrad {
  background-image: linear-gradient(white, white, #e0e7ff);
}

::-webkit-scrollbar {
  width: 0.5em !important;
  height: 0.6em;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

::-webkit-scrollbar-thumb {
  background-color: #141414b1 !important;
  outline: 1px solid rgba(112, 128, 144, 0) !important;
  border-radius: 10px !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#xl {
  color: #000000e8;
}

.snapCont {
  scroll-snap-type: y mandatory;
}

.snapChild {
  scroll-snap-align: start;
}

.altSnapCont {
  scroll-snap-type: y mandatory;
}

.blurry-gradient {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50% 22% 40% 80%;
  filter: blur(40px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(255, 0, 64),
    rgba(85, 43, 183, 0)
  );
  opacity: 0.2;
}

.blurry-gradientII {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50% 22% 40% 80%;
  filter: blur(40px);
  background: radial-gradient(
    circle at 50% 50%,
    rgba(13, 92, 189, 0.297),
    rgba(9, 163, 252, 0.718)
  );

  opacity: 0.2;
}

.blurry-gradientIV {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50% 22% 40% 80%;
  filter: blur(25px);
  background: radial-gradient(
    circle at 50% 50%,
    rgba(13, 92, 189, 0.297),
    rgba(9, 163, 252, 0.718)
  );

  opacity: 0.2;
}

.blurry-gradientIII {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50% 22% 40% 80%;
  filter: blur(50px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(255, 0, 64),
    rgba(85, 43, 183, 0)
  );
  opacity: 0.2;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
}

.behindImage {
  mix-blend-mode: difference;
}
