@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.grit {
  -webkit-mask-image: url("../public/grit.png");
  mask-image: url("../public/grit.png");
}

@font-face {
  font-family: "Ezcar";
  src: url("../public/Prata/Prata-Regular.ttf");
}

@font-face {
  font-family: "Nabla";
  src: url("../public/Nabla/Nabla-Regular-VariableFont_EDPT\,EHLT.ttf");
}

@font-face {
  font-family: "Josefin";
  src: url("../public/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "JosefinNormal";
  src: url("../public/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Abril";
  src: url("../public/Oxygen/Oxygen-Light.ttf");
}

@font-face {
  font-family: "Krona";
  src: url("../public/Krona_One/KronaOne-Regular.ttf");
}

@font-face {
  font-family: "CorUp";
  src: url("../public/Cormorant_Upright/CormorantUpright-Light.ttf");
}

@font-face {
  font-family: "PlayI";
  src: url("../public/PT_Serif/PTSerif-Italic.ttf");
}

@-moz-document url-prefix() {
  .scrollbar {
    overflow: auto;
    width: 0.5em !important;
    scroll-behavior: smooth !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: darkgrey !important;
    outline: 1px solid slategrey !important;
    border-radius: 10px !important;
  }
}

#translate {
  transform: translateX(100%);
}

.projectGrad {
  background-image: linear-gradient(white, white, #e0e7ff);
}

::-webkit-scrollbar {
  width: 0.5em !important;
  height: 0.6em;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

::-webkit-scrollbar-thumb {
  background-color: #141414b1 !important;
  outline: 1px solid rgba(112, 128, 144, 0) !important;
  border-radius: 10px !important;
}

#xl {
  color: #000000e8;
}

.snapCont {
  scroll-snap-type: y mandatory;
}

.snapChild {
  scroll-snap-align: start;
}

.altSnapCont {
  scroll-snap-type: y mandatory;
}
